name: Release Translation App

on:
  push:
    tags:
      - '*'

jobs:
  release:
    runs-on: windows-latest
 
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    # Add  MsBuild to the PATH: https://github.com/microsoft/setup-msbuild
    - name: Setup MSBuild Path
      uses: microsoft/setup-msbuild@v1.1
 
    - name: Build TranslationApp
      run: msbuild TranslationApp.sln /t:restore,build /p:RestorePackagesConfig=True /p:Configuration=Release /p:DebugType=None /p:DebugSymbols=false
 
    # Archive the package
    - name: Create archive
      run: Compress-Archive -Path TranslationApp\bin\Release\* -DestinationPath TranslationApp_${{ github.ref_name }}.zip

    # Create the release
    - name: Create release
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        tag: ${{ github.ref_name }}
      run: |
        gh release create "$env:tag" \
            --repo="$env:GITHUB_REPOSITORY" \
            --title="TranslationApp v$env:tag" \
            --generate-notes \
            TranslationApp_${{ github.ref_name }}.zip
